.font-loader {
  font-family: "Open Sans" !important;
}
.btn-login {
  background-color: #38b492 !important;
}
.btn-login:hover {
  background-color: #38b492 !important;
}
.input-email:focus {
  border-color: #a2a0a0 !important;
}
.input-field-container {
  display: flex;
  flex-direction: column;
}
.sign-in-options {
  display: flex;
  flex-direction: column !important;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  margin-top: 25px;
}
.sign-up-options {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  margin-top: 40px;
}

.flex-row {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
}
.links {
  text-decoration: none !important;
  color: #332a60 !important;
  font-size: 16px !important;
  cursor: pointer !important;
}

.links-join-workspace,
.links-signup {
  text-decoration: none !important;
  color: #3d1bb7 !important;
  font-size: 16px !important;
}
.links-signup {
  cursor: pointer !important;
  margin-left: 10px !important;
}
.iconOfLink {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
}
