.css-1j9kmqg-MuiDataGrid-toolbarContainer > button {
  color: rgba(0, 0, 0, 0.87);
  padding-left: 25px;
}
.tableBox {
  min-height: 70vh !important;
}

.MuiDataGrid-columnHeaders {
  background-color: #38b49270;
}

.MuiDataGrid-toolbarContainer {
  float: right;
}

.header-button:hover {
  text-decoration: none !important;
  background-color: rgb(153, 121, 127) !important;
}
