.css-1jbbcbn-MuiDataGrid-columnHeaderTitle {
  font-weight: 900 !important;
}
.css-1q4vcqy {
  border-bottom: 1px solid rgb(85, 85, 85) !important;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
