.team {
  margin-top: 2px;
  margin-left: 8px;
  padding-bottom: 5px;
  color: #bcbcbc;
}

.Btn {
  color: white !important;
  background-color: #38b492 !important;
}
.Btn:hover {
  background-color: #38b492 !important;
}
