* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#container {
  display: flex;
  height: 91vh;
  overflow-y: hidden !important;
  padding-top: 9vh;
}

#container main {
  width: 100%;
}

#container .sidebar {
  background: #e6f4eb;
  color: black;
  transition: all 0.5s;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#container .sidebar a {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  gap: 20px;
  transition: all 0.5s;
  font-size: 14px;
  color: #131523;
  position: relative;
}

#container .sidebar a:hover {
  background: #ffffff;
  color: #2bb491;
  transition: all 0.5s;
}

#container .sidebar a:hover::before {
  content: "";
  width: 6px;
  height: 100%;
  background: #2bb491;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0px 5px 5px 0px;
}

#container .sidebar .active {
  background: #ffffff;
  color: #2bb491 !important;
}

#container .sidebar .active::before {
  content: "";
  width: 6px;
  height: 100%;
  background: #2bb491;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0px 5px 5px 0px;
}

#container .icon {
  font-size: 20px;
  color: #2bb491;
}

#personal-details a {
  width: 100%;
  background: #e6f4eb;
  transition: all 0.5s;
  font-size: 12px;
  color: #131523;
  text-align: center;
  padding: 5px 0px;
}

#personal-details a:hover {
  background: rgb(43, 180, 145, 0.3);
  transition: all 0.5s;
}

#personal-details .active {
  background: rgb(43, 180, 145, 0.3);
  color: #131523;
}
