.lora-bold {
  font-family: Lora !important;
  font-weight: bold !important;
}

.input-border-radius {
  border-radius: 7px;
}
.grid-background-image {
  /* background-image: url("../../assets/images/bg-image.png"); */
  background-image: url("../assets/images/bg-image.png");
  background-repeat: no-repeat;
}
